body {
    background-color: #333333;
    padding: 2%;
  font-size: 16px;
}

a {
  text-decoration: none;
}

#paper {
    background-color: #fff8ee;
    margin: auto;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.75);
    position: relative;
  padding-bottom: 20px;
}

#paper h1 {
  font-family: "Harry Potter";
  width: 96%;
  text-align: center;
  font-size: 6.5em;
  color: rgba(29, 24, 11, .9);
  border: 1px solid rgba(29, 24, 11, .9);
  text-shadow: 3px 3px 0px rgb(162, 126, 41);
  border-width: 3px 0px;
  margin: auto;
}

article {
  height: 1150px;
}

footer {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 10px;
}

footer > div {
  background: rgba(29, 24, 11, 1);
  border: 6px double #fff8ee;
  font-family: 'Bungee Shade';
  color: rgba(255,248,238,.9);
  font-size: 2em;
  text-align: center;
  padding: 10px;
}

footer > div span {
  font-family: 'Berkshire Swash';
  font-size: 1em;
  display: block;
  font-weight: 100;
}

.color {
  position: absolute;
  top: 10px;
  right: 10px;
}

a.changecolor {
  height: 20px;
  width: 20px;
  margin: 2px;
  display: inline-block;
}

a#none {
  background: rgba(29, 24, 11, .9);
}
a#gry {
  background: rgb(178, 35, 35);
}
a#sly {
  background: rgb(44, 138, 76);
}
a#rav {
  background: rgb(66, 93, 183);
}
a#huf {
  background: rgb(236,185,57);
}


#paper div.THE {
  font-family: 'IM Fell DW Pica SC';
  background: #fff8ee;
  width: fit-content;
  margin: auto;
  position: relative;
  font-size: 2em;
  top: .7em;
  padding: 0 10px;
}

#paper h1::before, #paper h1::after {
    content: "—";
    font-size: .5em;
    line-height: 1em;
  vertical-align: middle;
  text-shadow: none;
}

.toparticle {
  width: 96%;
  margin: auto;
  border-bottom: 5px double rgba(29, 24, 11, 1);
  padding: 5px;
  font-size: 1em;
  font-family: 'IM Fell DW Pica';
}

.toparticle .exclusive, .subarticle .exclusive {
  background: rgba(29, 24, 11, 1);
  color: #fff8ee;
  display: inline-block;
  padding: 5px 15px;
  font-family: 'Headline One';
  font-size: 2em;
  margin-top: -5px;
  margin-right: 5px;
  float: left;
}
.subarticle .exclusive {
  width: 90%;
  text-align: right;
  float: right;
  margin-top: 0;
}

.toparticle .readmore {
  background: rgba(29, 24, 11, 1);
  color: #fff8ee;
  display: inline-block;
  padding: 2px 10px 2px 80px;
  float: right;
  margin: 2px -5px 0px 0;
}

.toparticle .readmore a {
  color: #fff8ee;
}

h4 {
  font-family: 'Headline One';
  color: rgb(29, 24, 11);
  display: inline;
  font-size: 1.5em;
  font-weight: 100;
}

h3 {
  font-family: 'Headline One';
  color: rgb(29, 24, 11);
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  margin: 2px;
}

.toparticle h4::after {
  content: '|';
}

#paper.none .readmore a:hover, #paper.none .frontpage a:hover {
  color: rgb(162, 126, 41);
}

#paper.gry .readmore a:hover, #paper.gry .frontpage a:hover {
  color: rgb(178, 35, 35);
}

#paper.sly .readmore a:hover, #paper.sly .frontpage a:hover {
  color: rgb(44, 138, 76);
}

#paper.rav .readmore a:hover, #paper.rav .frontpage a:hover {
  color: rgb(66, 93, 183);
}

#paper.huf .readmore a:hover, #paper.huf .frontpage a:hover {
  color: rgb(236,185,57);
}

article {
  width: 92%;
  padding: 10px 25px;;
  margin: auto;
  display: none;
  font-family: 'IM Fell DW Pica';
  border: 2px solid rgba(29, 24, 11, 1);
  margin-top: 10px;
}

article h2 {
  text-align:center;
  display: block !important;
  margin: 50px 0 0 0;
}

article > div {
  column-count: 3;
  margin-top: 40px;
}

div.author {
  column-count: 1;
  position: absolute;
  right: 50px;
  padding: 5px 20px;
  font-family: 'IM Fell DW Pica SC';
  margin: 0;
  border-bottom: 1px solid rgba(29, 24, 11, 1);
}

.mainarticles {
  border: 2px solid rgba(29, 24, 11, 1);
  width: 96%;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  font-family: 'IM Fell DW Pica';
}

.mainarticles h2, article h2 {
  font-family: 'Headline One';
  font-size: 8em;
  display: inline;
  margin-left: 10px;
}

.mainarticles h2 {

}

.mainarticles h2 span {
  display: inline-block;
  letter-spacing: 0px;
  margin-top: .3em;
  margin-right: 10px;
}

.mainarticles h2 span.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: inline-block;
  font-size: .28em;
  letter-spacing: normal;
  margin-right: 10px;
}

.mainarticles img {
  float: right;
  display: block;
  margin: 10px;
  margin-left: 0;
}

.column {
  width: 97%;
  margin: auto;
  border-bottom: 1px solid rgba(29, 24, 11, 1);
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
}

.column > div:first-child {
  column-count: 2;
}

.subarticle .column {
  column-count: 2;
  width: 94%;
  margin: auto;
  border: none;
  padding-bottom: 0px;
  display: block;
}

.column p:first-letter, article p:first-letter {
  font-size: 4em;
  text-shadow: 3px 3px 0px rgb(162, 126, 41);
  padding-right: .2em;
  float: left;
  text-indent: .2em;
  font-family: "Harry Potter";
}

.squarearticle {
  border: 5px double rgba(29, 24, 11, 1);
  padding: 10px;
  margin-left: 10px;
}

.subarticle {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: .3fr 1.7fr 1fr;
  margin-top: 15px;
  max-height: 260px;
}

.mainarticles .readmore, .frontpage {
  background: rgba(29, 24, 11, 1);
  color: #fff8ee;
  display: inline-block;
  padding: 2px 25px 2px 10px;
  float: right;
  margin: 15px 5px 0px 0;
}

.frontpage {
  display: block;
  float: none;
  text-align: right;
  column-count: 1;
}

.subarticle .readmore {
  text-align: right;
  padding: 2px 10px 2px 10px;
  width: 45%;
}

.mainarticles .readmore a, .frontpage a {
  color: #fff8ee;
}

.mainarticles .readmore a span{
  transform: scale(4);
  display: inline-block;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-left: 35px;
  background: rgba(29, 24, 11, 1);
  font-family: "Princess Sofia";
  line-height: 20px;
} 

.subarticle h3 {
  font-family: 'Headline One';
  font-size: 3em;
  display: inline;
  margin-left: 10px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  height: 260px;
}


#paper.none h1, #paper.none article h2, #paper.none p:first-letter {
  text-shadow: 3px 3px 0px rgb(162, 126, 41);
}

#paper.gry h1, #paper.gry article h2, #paper.gry p:first-letter {
  text-shadow: 3px 3px 0px rgb(178, 35, 35);
}

#paper.sly h1, #paper.sly article h2, #paper.sly p:first-letter {
  text-shadow: 3px 3px 0px rgb(44, 138, 76);
}

#paper.rav h1, #paper.rav article h2, #paper.rav p:first-letter {
  text-shadow: 3px 3px 0px rgb(66, 93, 183);
}

#paper.huf h1, #paper.huf article h2, #paper.huf p:first-letter {
  text-shadow: 3px 3px 0px rgb(236,185,57);
}

/* ADD FONTS */

@font-face {
    font-family: "Harry Potter";
    src: url(harrypotter.ttf) format("truetype");
}

@font-face {
    font-family: "Marauders";
    src: url(harrypotter2.ttf) format("truetype");
}

@font-face {
    font-family: "Headline One";
    src: url(HeadlineOne.ttf) format("truetype");
}


